<div class="relative group" appScrollStagger>
  <div
    class="absolute -inset-0.5 bg-gradient-to-b from-white/10 to-transparent rounded-[2rem] blur opacity-0 group-hover:opacity-100 transition duration-700 pointer-events-none">
  </div>
  <div class="glass-card rounded-[2rem] p-10 md:p-16 flex flex-col h-full relative z-10 overflow-hidden">
    <div class="flex flex-col md:flex-row gap-12 items-center text-center md:text-left">
      <div class="flex-1">
        <h3 class="font-headline-md text-headline-md text-primary mb-6">{{ project.title }}</h3>
        <p class="font-body-md text-body-md text-on-surface-variant mb-10 leading-relaxed font-light">
          {{ project.description }}
        </p>
        <div class="flex flex-wrap gap-3 justify-center md:justify-start mb-12">
          @for (tag of project.tags; track tag) {
            <span
              class="font-label-sm text-label-sm text-on-surface-variant/80 border border-white/10 px-5 py-2.5 rounded-full bg-white/[0.03] backdrop-blur-sm">{{ tag }}</span>
          }
        </div>
        <div>
          <a class="inline-flex items-center gap-3 text-body-md font-body-md text-primary hover:text-white transition-all group/btn"
            [href]="project.sourceUrl">
            <div
              class="w-10 h-10 rounded-full border border-white/20 flex items-center justify-center bg-white/5 group-hover/btn:bg-white/10 transition-colors">
              <app-github-icon sizeClass="w-4 h-4" />
            </div>
            <span class="">View Source Code</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
